html,
body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Roboto Mono', monospace;
}
.loader {
    box-sizing: border-box;
    position: relative;
    width: 48px;
    height: 48px;
    animation: spin 1s linear infinite;
}
.loader:after, .loader:before {
    content: "";
    width: 24px;
    height: 24px;
    position: absolute;
    border-radius: 50%;
    background: #FF3D00;
    animation: spin 1s linear infinite;
    transform-origin: 0px 100%;
}
.loader:before {
    transform-origin: 0 50%;
    background: #fff;
}
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
.modal{
    z-index: 3;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.8);
    opacity: 80%;
    display: grid;
    place-items: center;
}
.input-label {
    color: #8597a3;
    position: absolute;
    top: 1.5rem;
    transition: .25s ease;
}


.form-field{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    box-sizing: border-box ;
    padding: 1rem;
}
label{

}
input{
    padding: 1rem;
    border: 1px solid #ccc;
}
input:invalid {
    /*border: 3px solid red;*/
}
.validation-message{
    font-size: smaller;
    color: red;
    font-weight: 200;
}